.virtual__block {
    position: relative;
    width: 775px;
    height: 250px;
    padding: 5px;
    border-radius: 5px;
    background-color: #e0e0e0;
    user-select: none;
}

.virtual__btns {
    text-align: left;
}

.virtual__btn {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    border: none;
    font-size: 1.2rem;
    outline: none;
    border-radius: 11px;
    background: #e0e0e0;
    box-shadow:  4px 4px 8px #b3b3b3,
                -4px -4px 8px #ffffff;
    transition: color .2s;
    cursor: pointer;
}

.virtual__btn:hover {
    color: rgb(0, 167, 11);
    background-color: rgba(0, 167, 11, 0.07);
}

.virtual__btn:active {
    background: #e0e0e0;
    box-shadow: inset 4px 4px 8px #b3b3b3,
                inset -4px -4px 8px #ffffff;
}

.virtual__btn:hover:active {
    background-color: rgba(0, 167, 11, 0.07);
}

.virtual__btn_wide {
    width: 102px;
}

.virtual__btn_with-indicator::before {
    content: '';
    top: 7px;
    right: 7px;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000;
}

.virtual__btn_with-indicator_active::before {
    background-color: rgb(0, 167, 11);
}

.backspace-btn {
    width: 115px;
}

.tab-btn {
    width: 54px;
}

.del-btn {
    width: 50px;
}

.ctrl-btn {
    width: 49px;
}

.alt-btn {
    width: 49px;
}

.arrow-btn {
    /* border: 1px solid #000; */
}

.arrow-btn svg path {
    transition: fill .3s;
}

.arrow-btn:hover svg path {
    fill: rgb(0, 167, 11);
}

/* .akcent-btn {
    border: 1px solid #000;
} */

.win-btn {
    /* border: 1px solid #000; */
}

.win-btn svg path {
    transition: fill .3s;
}

.win-btn:hover svg path {
    fill: rgb(0, 167, 11);
}

.space-btn {
    width: 327px;
}

.space-btn svg path {
    transition: fill .3s;
}

.space-btn:hover svg path {
    fill: rgb(0, 167, 11);
}